* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  html {
    background-color: #191d28;
  }
  
  /* header */
  
  .headersection {
    background-color: #191d28;
    color: #fecc74;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title h1 {
    color: #fecc74;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.2rem;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #191d28;
    border-bottom: 2px solid #fecc74;
  }
  
  .header-nav a {
    color: #747987;
    padding: 0.3rem 0.2rem;
  }
  
  .header-contact a {
    color: #747987;
    padding: 0.2rem;
  }
  
  .header-nav a:hover,
  .header-contact a:hover {
    color: #fecc74;
  }
  
  /* Home */
  
  .name {
    display: inline-block;
    margin-top: 80px;
  }
  
  .name-text {
    color: #fecc74;
    font-size: 1.5rem;
  
    margin: 0.5rem;
    letter-spacing: 0.3rem;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: cursor 0.4s infinite alternate step-end, type 3s steps(19) ;
  }
  
  @keyframes cursor {
    50% {
      border-right: transparent;
    }
  }
  
  @keyframes type {
    from {
      width: 0;
    }
  }
  
  .home-para {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #ffffff;
    margin: 0.5rem;
    line-height: 2rem;
  }
  
  .home-btn {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #191d28;
    border: 2px solid#fecc74;
    background-color: #fecc74;
    margin: 0.5rem;
  }
  
  .home-btn:hover {
    color: #fecc74;
    background-color: #191d28;
  }
  
  .home-img img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 3rem auto;
  }
  
  .home-img img:hover {
    border: 4px solid #fecc74;
    box-shadow: 2px 2px 50px #fecc74;
  }
  
  .homesection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top:1rem ;
    margin-bottom:1rem;
  }
  
  /* resume */
  
  .resume-title {
    color: #fecc74;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
  }
  
  .resume-edu,
  .resume-pro {
    color: #fecc74;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .resume-education ul li {
    padding: 0.5rem;
  }
  
  .degree {
    color: #fecc74;
  }
  
  .year {
    color: #747987;
  }
  
  .resume-education {
    background-color: black;
    margin: 1rem 2rem;
  }
  
  .resume-education:hover {
    border: 1px solid #fecc74;
    box-shadow: 0px 0px 10px #fecc74;
  }
  
  .procolor {
    color: #fecc74;
  }
  
  .resume-project ul {
    background-color: black;
    margin: 1rem 2rem;
  }
  
  .resume-project ul:hover {
    border: 1px solid #fecc74;
    box-shadow: 0px 0px 10px #fecc74;
  }
  
  .resume-project li {
    padding: 0.5rem;
  }
  
  .resumesection {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top:1rem ;
    margin-bottom:1rem;
  }
  
  /* about */
  
  .about-img img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 3rem auto;
  }
  
  .about-title {
    color: #fecc74;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
  }
  
  .about-img img:hover {
    border: 4px solid #fecc74;
    box-shadow: 2px 2px 50px #fecc74;
  }
  
  .about-para {
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem;
  }
  
  .about-name {
    color: #fecc74;
  }
  
  .about-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .about-btn {
    font-size: 1.5rem;
    padding: 1rem;
    color: #191d28;
    border: 2px solid#fecc74;
    background-color: #fecc74;
  }
  
  .about-btn:hover {
    color: #fecc74;
    background-color: #191d28;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .aboutmesection{
    margin-top:1rem ;
    margin-bottom:1rem;
  }
  
  
  /* contact */
  
  .contactus h2 {
    text-align: center;
    font-size: 2rem;
    color: #fecc74;
    padding: 0.5rem;
  }
  
  .contactus ul li {
    color: #fecc74;
    padding: 0.5rem;
  }
  
  .contactus p {
    color: whitesmoke;
    padding: 0.5rem;
  }
  
  .just {
    color: #fecc74;
  }
  
  .contact-form fieldset {
    padding: 1rem;
    background-color: black;
    margin: 1rem 2rem;
    border: 1px solid #fecc74;
    box-shadow: 0px 0px 10px #fecc74;
  }
  
  .contact-form fieldset input {
    background-color: black;
    outline: none;
    border: none;
    border-bottom: 2px solid #747987;
    padding: 0.5rem;
    color: #fecc74;
    margin: 1rem;
    font-size: 1rem;
  }
  
  .contact-form legend {
    font-size: 1.5rem;
    color: #fecc74;
  }
  
  .contact-btn {
    font-size: 1rem;
    padding: 0.1rem;
    color: #191d28;
    border: 2px solid#fecc74;
    background-color: #fecc74;
    margin: 1rem 35%;
  }
  
  .contact-btn:hover {
    color: #fecc74;
    background-color: #191d28;
  }
  
  .contactussection {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top:1rem ;
    margin-bottom:1rem;
  }
  
  /* footer */
  .footersection .footer-logo {
    color: #fecc74;
  }
  .footersection p {
    padding: 0.5rem;
  }
  .footersection {
    border-top: 2px solid #fecc74;
    background-color: black;
    color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  /* media */
  @media screen and (min-width: 425px) {
    html {
      font-size: 1.2rem;
    }
  }
  @media screen and (min-width: 768px) {
    html {
      font-size: 1.5rem;
    }
    .home-img img {
      height: 350px;
      width: 350px;
    }
    .about-img img {
      height: 350px;
      width: 350px;
    }
  }
  @media screen and (min-width: 1024px) {
    html {
      font-size: 1.8rem;
    }
    .header-nav {
      display: flex;
      justify-content: space-around;
      flex-basis: 50%;
      position: static;
      border-bottom: none;
    }
    .headersection {
      border-bottom: 2px solid #fecc74;
      border-radius: 5%;
    }
    .home-img img {
      height: 400px;
      width: 400px;
    }
    .about-img img {
      height: 400px;
      width: 400px;
    }
    .homesection {
      flex-direction: row;
    }
  }
  @media screen and (min-width: 1440px) {
    html {
      font-size: 2.3rem;
    }
    .header-nav {
      display: flex;
      justify-content: space-around;
      flex-basis: 50%;
      position: static;
      border-bottom: none;
    }
    .headersection {
      border-bottom: 2px solid #fecc74;
      border-radius: 5%;
    }
    .home-img img {
      height: 450px;
      width: 450px;
    }
    .about-img img {
      height: 400px;
      width: 450px;
    }
    .homesection {
      flex-direction: row;
    }
    .contactussection {
      flex-direction: row;
    }
  }
  